@font-face {
    font-family: "suit-bold";
    src: url("asets/fonts/suit_bold.ttf");
}
@font-face {
    font-family: "suit_regular";
    src: url("asets/fonts/suit_regular.ttf");
}
@font-face {
    font-family: "suit_light";
    src: url("asets/fonts/suit_light.ttf");
}
@font-face {
    font-family: "suit_semibold";
    src: url("asets/fonts/suit_semibold.ttf");
}
@font-face {
    font-family: "suit_heavy";
    src: url("asets/fonts/suit_heavy.ttf");
}
@font-face {
    font-family: "suit-bold";
    src: url("asets/fonts/suit_bold.ttf");
}

